USE [smscov]
GO
/****** Object:  Table [dbo].[iller]    Script Date: 10.01.2021 11:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iller](
	[il_no] [int] NOT NULL,
	[isim] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[il_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[iller] ([il_no], [isim]) VALUES (1, N'ADANA')
INSERT [dbo].[iller] ([il_no], [isim]) VALUES (2, N'ADIYAMA')
INSERT [dbo].[iller] ([il_no], [isim]) VALUES (3, N'AFYO')
GO
